@charset "UTF-8";
#aka{
    width:  600px;
    height: 180px;
    background:#ca1019
}
.flex-aaa {
    position: relative;
}
.flex-box{
    display: flex;
    position: absolute;
    gap: 10px;
    padding: 10px;
    margin-top: 45px;
    margin-right: 50px;
    margin-left: 100px;
    background-color: white;
}
.box{
    width: 100px;
    height: 70px;
    background-color: #f4c538;
}
#midori{
    width: 420px;
    height: 480px;
    background-color: #309c77;
}
.photo{
    text-align: center;
}
.photo1{
    margin-top: 40px;
    border: 2px solid #fff;
}
.photo2{
    margin-top: 20px;
    border: 2px solid #fff;
}
.photo3{
    margin-top: 20px;
    border: 2px solid #fff;

}
.flex-bbb{
    display: flex;
}
.ao{
    width: 180px;
    height: 480px;
    background-color: #29b098;
}
.kiiro{
    width: 600px;
    height: 100px;
    background-color: #f4c508;
}