@charset "UTF-8";

    .kiiro{
        width:600px;
        height: 100px;
        background:#f4d508
    }
    .ao{
        width:600px;
        height: 480px;
        background:#2935a8
    }
    .midori{
        width:420px;
        height: 480px;
        background:#14865f
    }
    .aka{
        width:600px;
        height: 180px;
        background:#ca1019
    }
 
    