@charset "UTF-8";

    .flex {
        display: flex;
    }
    .kiiro{
        width:600px;
        height:100px;
        background:#f4d508;
    }
    .ao{
        display: inline-block;
        width:180px;
        height:480px;
        background:#2935a8;
    }
    .midori{
        display: inline-block;
        width:420px;
        height:480px;
        background:#14865f;
    }
    .test {
        display: flex;
    }
    .aka{
        width:600px;
        height:180px;
        background:#ca1019;
    }